@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 400;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Manrope", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
